.noStyle {
  display: flex;
  /* width: calc(50% / 3 - 10px); */
  list-style: none;
  text-decoration: none;
  color: black;
}
.noStyle:hover {
  color: blueviolet;
}
.flex {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  /* margin-right: 20px; */
}
.noStyle:nth-child(2n + 1) {
  margin-right: 10px;
}
.noStyle:hover {
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(-20px);
}
